* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(234, 255, 237);
}

.menu-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(31, 183, 33);
  color: white;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.input-group { 
  width: 20%;
}

.main-container img {
  width: 15%;
  border-radius: 100%;
  height: 250px;
}