* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(234, 255, 237);
}

.menu-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(31, 183, 33);
  color: white;
  justify-content: space-between;
}